<section class="dropdown-section">
    <div class="dropdown">
        <a class="button bi bi-list" data-bs-toggle="dropdown" id="menu-icon"></a>
        <ul class="dropdown-menu">
            <li class="dropdown-title">Menú</li>
            <!-- Inicio -->
            <li>
                <a class="dropdown-item" href="#">
                    <span>mic 0.3</span>
                </a>
                <a class="dropdown-item" href="../facturas/compras/purchase.html">
                    <ion-icon name="stats-chart-outline"></ion-icon>
                    <span> Compras</span>
                </a>
            </li>
            <!-- Cerra sesión -->
            <li style="margin-bottom: 1em;">
                <a id="logout" class="dropdown-item" href="#">
                    <ion-icon name="exit-outline"></ion-icon>
                    <span> Cerrar sesión</span>
                </a>
            </li>
        </ul>
    </div>
</section>