<!-- calendar-modal.html -->
<button class="calendar-button custom-button">
    <i class="bi bi-calendar3 display-flex-center" style="font-size: 20px;"></i>
</button>

<div id="calendarModal" class="calendar-modal">
    <div class="calendar-modal-content">
        <div class="calendar">
            <div class="calendar-header">
                <i class="bi bi-arrow-left-square nav-button" onclick="changeMonth(-1)"></i>
                <h2 id="currentMonthYear"></h2>
                <i class="bi bi-arrow-right-square nav-button" onclick="changeMonth(1)"></i>
            </div>
            <div class="calendar-grid" id="calendarGrid">
                <!-- Los días y fechas se generarán con JavaScript -->
            </div>
        </div>
    </div>
</div>