/* Añade estas modificaciones */
.calendar-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 3em;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    padding: 10px;
    box-sizing: border-box;
}

.calendar-modal-content {
    background-color: #fff;
    margin: 2% auto;
    padding: 15px;
    width: 95%;
    max-width: 380px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

/* Ajustes para calendario en móviles */
.calendar {
    font-size: 14px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    margin-bottom: 10px;
}

.calendar-header h2 {
    font-size: 1.1em;
    margin: 0 8px;
    text-align: center;
    line-height: 1.3;
}

.nav-button {
    padding: 4px 8px;
    font-size: 0.9em;
    min-width: 50px;
    color: white;
    font-size: 1.5em;
    font-weight: 900;
    background-color: var(--clr-primary);
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    /* Reducir espacio entre celdas */
}

.calendar-day,
.calendar-date {
    padding: 8px 5px;
    font-size: 0.85em;
    min-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.current-date,
.calendar-date:hover {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--clr-primary);
    color: white;
    margin: auto;
}

.calendar-date:hover {
    background-color: var(--clr-button);
}

/* Media queries para ajustes adicionales */
@media (max-width: 480px) {
    .calendar-modal-content {
        margin: 10px auto;
        padding: 10px;
    }



    .calendar-header h2 {
        font-size: 1em;
    }

    .nav-button {
        padding: 3px 6px;
        font-size: 0.8em;
    }

    .calendar-day,
    .calendar-date {
        padding: 6px 3px;
        font-size: 0.8em;
    }
}

@media (max-width: 380px) {
    .calendar-header h2 {
        font-size: 0.95em;
    }

    .calendar-date {
        min-height: 30px;
    }
}

.calendar-button {
    height: 40px;
    margin: 10px;
    color: var(--clr-button);
}

/* En tu archivo calendar.css */
.calendar-date.sunday {
    color: var(--clr-error);
}

.calendar-date.sunday:hover {
    color: white;
}