<button class="custom-button" data-bs-toggle="modal" data-bs-target="#registerPurchaseModal" id="showModalButton">
    <i class="bi bi-clipboard-plus"></i>
</button>

<style>
    #showModalButton {
        position: fixed;
        top: 10px;
        right: 10px;
        height: 40px;
        cursor: pointer;
        font-size: 20px;
        padding: 0 10px;
        margin-left: 10px;
        color: var(--clr-button);
        background-color: white;
        border: 1px solid var(--clr-button);
        border-radius: 50%;
    }

    #showModalButton:hover {
        color: white;
    }
</style>